@font-face {
	font-family: 'Yekan';
	src:	
			url('/src/fonts/Yekan.woff2') format('woff2'), /* Modern Browsers */
			url('/src/fonts/Yekan.woff') format('woff'), /* Modern Browsers */
			url('/src/fonts/Yekan.otf') format('opentype'), /* Open Type Font */	
			url('/src/fonts/Yekan.ttf') format('truetype'); /* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: auto;
}
body {
  margin: 0;
  font-family :'Yekan' ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
